:root{
--letras-1:font-family:'Lato',sans-serif;font-family:'OpenSans',sans-serif;font-family:'Roboto',sans-serif;
}

body{
margin:0%;
padding:0%;
box-sizing:border-box;
background-image:url(https://www.xtrafondos.com/wallpapers/auto-en-carretera-con-el-cielo-nocturno-arte-digital-9880.jpg);
background-repeat:no-repeat;
background-size:cover;
}

/*arribabody*/


.hearder-h1{
display:flex;
justify-content:center;

height:200px;

}

.presentacion-h1{
font-family:var(--letras-1);
font-weight:bolder;
color:#f2f3f4;
font-size:25px;
font-style:italic;
}


/*inicio-de-presentacion*/


/*generadordenombres*/


.caja-padre{

display:flex;
justify-content:center;
align-items:center;


}
.caja-centro{

display:flex;
justify-content:center;
align-items:center;
background-color:#f2f3f4;

width:1000px;
height:200px;

border-radius:30px;
box-shadow:3px 3px 3px black;
}


.caja-de-generador{
display:grid;
grid-template-columns:repeat(3,200px);
justify-content:center;
align-items:center;
margin:150px0px;
}

p{

font-family:var(--letras-1);
font-weight:bolder;
font-size:25px;
}

.nombres,.years,.pais{
font-size:20px;
font-weight:bold;
}

/*generadordenombres*/

/*boton*/

.centro-boton{

display:flex;
justify-content:center;
align-items:center;
}


#generar{
padding:30px;
margin:30px0px;
margin-right:80px;

border-radius:20px;
border:none;
cursor:pointer;

font-size:30px;
font-weight:bolder;
background-color:#5aacac;
}

#generar:hover{
color:#f7dc6f;
background-color:#2e4053;
transition:0.6s;
}


@media(max-width:421px){

.caja-centro{


width:300px;
height:600px;


}


.caja-de-generador{
display:grid;
grid-template-columns:repeat(1,150px);

}



#generar{
padding:20px;
margin:30px 0px;


font-size:15px;





}


}